@keyframes selectable {
	from {
		background-color: initial;
	}
	to {
		background-color: #E5322D;
	}
}

@keyframes appearance {
	from {
		visibility: hidden;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;

	}
}


@keyframes disappearance {
	from {
		visibility: visible;
		opacity: 1;
	}
	to {
		visibility: hidden;
		opacity: 0;
		transform: translate(-5em, 0);

	}
}

@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

button {
	background: #EBF9FC;
	border: transparent;
	width: 100%;
	height: 3em;
	transition: background-color 0.5s linear;
}
button:hover {
	background-color: #E5322D;
	cursor: pointer;
}
body {
	margin: 0;

	font-family: 'Montserrat', sans-serif;
	background: #EBF9FC;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	background: linear-gradient(to bottom right, #3EA27A, #55B594, #83DAC7);
	color: #EBF9FC;

	display: flex !important;
	justify-content: space-around;
	align-items: center;

	border-bottom: .6em #ffffff solid;

	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
header > b {
	font-size: 1.9em;
}
img.logo {
	height: 8em;
	margin: 0.5em 0 -4.5em 0;
	transition: height 0.5s;
	border-radius: 100%;
	box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.2);
}
img.logo:hover { 
	height: 8.5em;
	cursor: pointer;
}
div[ng-app] {
	width: 100%;
}
div[ng-app]>div {
	width: 100%;
}
.container {
	display: flex;
}
.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	margin: 1.5em 2em 2em 2em;
	padding: 2em;

	width: 70%;

	background: rgba(255,255,255,0.7);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	border: 1px #B1FFFA solid;
}
.navbar {
	width: 30%;
	margin-top: 5em;
}
.fillable {
	width: 100%;
}
li {
	display: flex;
	align-items: center;
	list-style: none;

	transition: background-color 0.5s linear;
}

li:hover {
	background-color: #E5322D;
	cursor: pointer;
	color: black;
}
a {
	transition: color 0.3s linear;
	margin-bottom: 0.5em;
}
a:hover {
	color: #E5322D;
	cursor: pointer;
}
li > img {
	width: 32px;
	height: 32px;
	margin: 0.5em 1em 0.5em 3em;
}
textarea, input, button { 
	outline: none; 
}
file-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	flex-wrap: wrap;

	width: 100%;

	background-color: #EBF9FC;
	padding: 0.5em;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);
}
file-list-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	padding: 1em;
	margin-bottom: .5em; 

	transition: background-color 0.3s linear;
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	
}
file-list-item[hidden-file] {
	opacity: 0.7;
}
file-list-item div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;

}
file-list-item > div * {
	margin: 0.3em;
	margin-right: 0.7em;
}
file-list-item:hover {
	background-color: inherit;
	cursor: pointer;
}
file-list-item.selected {
	animation: selectable 0.5s linear;
	animation-fill-mode: forwards;
	cursor: auto;
}

file-grid {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 1;

	width: 100%;

	flex-wrap: wrap;

	background-color: #EBF9FC;
	padding: 0.5em;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);
}

file-grid-item {
	width: 28%;
	padding: 1em;
	margin-bottom: .5em; 

	transition: background-color 0.3s linear;
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

file-grid-item:hover {
	background-color: inherit;
	cursor: pointer;
}
file-grid-item[hidden-file] {
	opacity: 0.7;
}
file-grid-item.selected {
	cursor: auto;
	animation: selectable 0.5s linear;
	animation-fill-mode: forwards;
}

label {
	display: inline-block;

	cursor: pointer;
	margin: 1em 1em 1em 0;
}

control-panel img {
	position: relative;
	float: right;
	top: -2em;
	right: 0;
	width: 3em;
	cursor: pointer;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
	transition: all 0.2s linear;
	border-radius: 50px;
}
control-panel img:hover {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	transform: translate(0px, 1px);
}

file-list-item.ng-animate.ng-enter {
	animation-name: appearance;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

file-list-item.ng-enter-stagger {
	animation-delay: 0.1s;
}

file-list-item.ng-animate.ng-leave {
	animation-name: disappearance;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}


.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px; 
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; 
}
.checkbox:checked + label:before {
  background: #68d4a7;
}
.checkbox:checked + label:after {
  left: 26px;
}
.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,255,.5);
}
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 0 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #68d4a7;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,255,0);
}


.bin-form {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 2em;
	background-color: rgba(235, 249, 252, .3);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
	padding: 1em;
}
.bin-form input[type="text"] {
	font-size: 1.3em;
}
.bin-form input {
	display: block;
	width: 100%;
	border: none;
	background-color: transparent;
	margin-bottom: 0.5em;
}

.bin-form button {
	width: 100%;
	border: none;
}

.bin-form img {
	width: 3em;
	cursor: pointer;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
	transition: all 0.2s linear;
	border-radius: 50px;
}
.bin-form img:hover {
	cursor: pointer;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	transform: translate(0px, 1px);
}

bins-list-item {
	display: flex;
	flex-wrap: wrap;
}
bins-list-item input {
	border: none;
	background-color: transparent;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

	text-align: center;
}
bins-list-item>div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1em;


	background-color: rgba(235, 249, 252, .3);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
}
bins-list-item>div * {
	margin-right: 1em;
}
bins-list-item.primary>div {
	background-color: rgba(131, 218, 199, .3);
}
bins-list-item img {
	width: 3em;
	height: 3em;
	cursor: pointer;
}
trash-list-item {
	width: 100%;
	display: flex;
}
trash-list-item>div.trash {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #EBF9FC;
	padding: 0 1em 0 1em;
	width: inherit;
}
trash-list-item img {
	width: 1em;
	height: 1em;	
	margin: .2em;
	transition: all 0.3s linear;
}

trash-list-item img:hover {
	filter: invert(100%);
	cursor: pointer;
}

search-form input {
	border: none;
	background-color: inherit;
	font-size: 1.5em;
	margin: 1em 0em 1em 0em;
}
bins-list div.message {
	background-color: #EBF9FC;
	padding: 0.2em 1em 0.2em 1em;
}

footer {
	display: flex;
	justify-content: center;
	opacity: 0.5;
	margin-bottom: 1em;
}
task-list {
	background-color: #EBF9FC;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,.2);

	padding: 0.3em;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
task-list>div {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
task-list-item {
	display: flex;
	width: 100%;
}
task-list-item>div{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	border: 1px #B1FFFA solid;
	padding: 1em;

	background-color: white;

	margin: 0.2em;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
figure {
	margin: 0.2em;
}
figcaption {
	text-transform: capitalize;
}
task-list-item img {
	width: 2.5em;
	margin: 0 0.5em 0 0.5em;
}
.headline {
	font-size: 2em;
	margin-bottom: 0.5em;
}

.modal-background {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#modal {
	border: 1px #B1FFFA solid;
	padding: 1em;

	background-color: white;

	margin: 0.5em;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}
settings-form>div {
	margin-top: 1em;
}
settings-form input {
	display: block;
}
settings-form input[type="text"] {
	border: none;
	background-color: inherit;
	font-size: 1.2em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
settings-form>div{
	display: block;
}
.modal-background.ng-hide {
	opacity: 0;
}
.modal-background.ng-hide-add,
.modal-background.ng-hide-remove {
	transition: all linear 0.2s;
}
.modal-background.ng-hide #modal {
	visibility: hidden;
	height: 1px;
	width: 1px;
}
.modal-background.ng-hide-add,
.modal-background.ng-hide-remove #modal {
	transition: all linear 0.2s;
	visibility: visible;
	height: auto;
	width: auto;
}
figcaption div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
figcaption a {
	font-style: italic;
}

select {
	border: none;
	outline: none;
	background-color: inherit;
	-webkit-appearance: none; 
    -moz-appearance: none;
	appearance: none;
	width: 100%;
	font-size: 1.2em;
	transition: all linear 0.3s;
	margin-bottom: 1em;
	padding: 0.5em;
	margin-top: 1em;
}
select:hover {
	background-color: #E5322D;
	cursor: pointer;
}
option {
	background-color: white;
	border: none;
	outline: none;
	margin: 0.2em;
}

option:hover {
	background-color: #E5322D;
	cursor: pointer;
}

task-list-item.ng-animate.ng-enter {
	animation-name: appearance;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

task-list-item.ng-enter-stagger {
	animation-delay: 0.1s;
}
bins-list-item > div > div {
	cursor: pointer;
}
task-list-item.ng-animate.ng-leave {
	animation-name: disappearance;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}


trash-list-item.ng-animate.ng-enter {
	animation-name: appearance;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

trash-list-item.ng-enter-stagger {
	animation-delay: 0.1s;
}

trash-list-item.ng-animate.ng-leave {
	animation-name: disappearance;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loading 1.8s infinite ease-in-out;
  animation: loading 1.8s infinite ease-in-out;
}
.spinner {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}
.spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner:after {
  left: 3.5em;
}
