{% extends "content.html" %}

{% load staticfiles %}

{% block title %}Tasks{% endblock %}

{% block container %}
	<div class="headline">TASKS</div>
	<task-list ng-hide="TaskService.empty"></task-list>
	<div ng-show="TaskService.empty">There are no tasks yet. Maybe Create one?</div>
{% endblock %}