{% extends "content.html" %}

{% load staticfiles %}

{% block title %}Bins{% endblock %}

{% block container %}
	
	<div class="headline">BINS</div>
	<bins-list ng-hide="BinService.empty"></bins-list>
	<div ng-show="BinService.empty">There are no bins yet. Maybe Create one?</div>
	<bin-form></bin-form>
	<modal-window></modal-window>
{% endblock %}