{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/auth.css' %}">
<div class="form">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="md" type="submit">Login</button>
  </form>
</div>
{% endblock %}