{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/auth.css' %}">
<div class="form">
  <h2>Registration</h2>
  <form action="/register/" method="post">
  	{% csrf_token %}
    {{ form.as_p }}
  	<button class="md" type="submit">Register</button>
  </form>
</div>
{% endblock %}