{% extends "base.html" %}
{% load static %}
{% block title %}You are Registered{% endblock %}
{% block content %}
<div class="form">
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/auth.css' %}">
	  <h2>Thank you for Registering</h2>
	  <a href="/login/">Please, now login</a>
</div>
{% endblock %}
