{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Traverse | {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.ico' %}">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Yellowtail" rel="stylesheet">		
		<link rel="stylesheet" href="{% static 'stylesheets/app.css' %}">
		<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
	</head>
	<body>

		{% include "components/header.html" %}
			{% block content %}
			{% endblock %}
		{% include "components/footer.html" %}

		

	</body>
</html>