{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="navbar">
		{% include "components/navbar.html" %}
	</div>
	<div class="content">
		<script src="{% static 'angular/angular.js' %}"></script>
		<script src="{% static 'angular-animate/angular-animate.js' %}"></script>
		<script src="{% static 'ng-infinite-scroll/ng-infinite-scroll.min.js' %}"></script>
		<script src="{% static 'dist/javascript/app.bundle.js' %}"></script>
		<div ng-app="TraverseApp">
			<div ng-controller="TraverseController">
				{% block container %}

				{% endblock %}

			</div>
		</div>


		
	</div>
</div>
{% endblock %}