{% extends "content.html" %}

{% load staticfiles %}

{% block title %}Inspector{% endblock %}

{% block container %}
	<div class="headline">INSPECTOR</div>
	<control-panel></control-panel>
	<search-form></search-form>
	<file-list ng-show="showLike == 'list'"></file-list>
	<file-grid ng-show="showLike == 'grid'"></file-grid>
{% endblock %}