.form {
	margin: auto;
	padding: 2em 2em 0 2em;

	width: 30%;
	margin-top: 5em;

	background: rgba(255,255,255,0.5);
	border: 1px #B1FFFA solid;
}
b {
	font-size: 1.5em;
	justify-content: flex-end;
}
input {
	border: none;
	background: white;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
button.md {
	margin: 1rem -2rem 0 -2rem;
	font-size: 1rem;

	background: #3EA27A;
	border: none;
	width: calc(100% + 4rem);
	height: 3rem;
}
button.lg {
	background: #3EA27A;
	border: none;
	width: 100%;
	height: 3em;
}
button:hover {
	background: #ffffff;
	cursor: pointer;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fbfefe inset;
}
label {
	margin-right: 1em;
}
hr {
	width: 100%;
}
form>li:hover {
	background: inherit;
}
ul#id_choice {
	width: 100%;
}
ul#id_choice > li {
	width: 100%;
	cursor: pointer;
}
ul.avatar-list {

}
.info-block {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.info-block input{
	background: inherit;
	font-style: normal;
}
.info-block b input{
	background: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
}
.info-avatar {
	width: 30%
	margin: 1em;
}
.info-data {
	width: 70%;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}
.info-data > div {
	width: 100%;
	height: auto;
}
.rewards {
	width: 100%;
	margin: 1em;
}
div.edit-icon {
	opacity: 0.3;
	height: 2em;
	width: 2em;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: opacity .2s linear;
}
.edit-icon:hover {
	opacity: 0.5;
}
.modal {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: auto;
}
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-around;	
	font-size: 1.5em;
}
.modal-body {

}
.modal-footer {

}
.hidden {
	opacity: 0.5;
}
div[ng-click]{
	cursor: pointer;
}
div[ng-app], div[ng-controller] {
	display: flex;
	flex-wrap: wrap;
}