<header>
	<img class="logo" src="/static/images/logo.png">
	<div class="logo">Traverse</div>
	{% if user.is_authenticated %}
		<div><a href="/">Hello, {{ user.username }}!</a></div>
		<div><a href="/logout/">Logout</a></div>
	{% else %}
		<div><a href="/login/">Login</a></div>
		<div><a href="/register/">Register</a></div>
	{% endif %}
</header>