<div>
	<ul>
		<a href="/" class="selectable">
			<li><img src="/static/images/inspector.svg">Inspector</li>
		</a>
		<a href="/trashbin/" class="selectable">
			<li><img src="/static/images/trash.svg">Bins</li>
		</a>
		<a href="/tasks/" class="selectable">
			<li><img src="/static/images/task.svg">Tasks</li>
		</a>
	</ul>
</div>